<div class="report-card container">
	<div class="report-card-header" title="{{reportName}} Report"> {{reportAbbreviation}}</div>
	<i class="loading-indicator fa fa-circle-o-notch fa-spin fa-fw"></i>
	<i class="warning-indicator fa fa-warning"></i>
	<i class="config-btn fa fa-gear" data-toggle="modal" data-target="#{{reportType}}{{primaryTimeseriesIdentifier}}AdvOpt">
	    <span id="cogTooltip" class="cogSaveTooltip">Advanced Report Options</span>
	</i>
	<br />
	<i class="add-to-saved-reports fa fa-save">
	    <span id="saveTooltip" class="cogSaveTooltip">Save to My Reports</span>
	</i>
	
	
	<!-- Advanced options modal -->
	<div class="adv-options modal fade" id="{{reportType}}{{primaryTimeseriesIdentifier}}AdvOpt" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{reportName}} Report Options for {{primaryTsLabel}}</h4>
				</div>
				<div class="adv-options-container modal-body">
				</div>
			</div>
		</div>
	</div>
</div>
