<div class="report-card container">
	<div class="report-card-header"> {{reportName}}</div>
	<i class="warning-indicator fa fa-warning"></i>
	<i class="config-btn fa fa-gear" data-toggle="modal" data-target="#{{reportType}}AdvOpt"></i><br />
	<i class="add-to-saved-reports fa fa-save"></i>
	
	<!-- Advanced options modal -->
	<div class="adv-options modal fade" id="{{reportType}}AdvOpt" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{reportName}} Options</h4>
				</div>
				<div class="adv-options-container modal-body">
				</div>
			</div>
		</div>
	</div>
	<div class="report-card-loader-base"><div class="aqcu-loading-indicator"></div></div>
</div>
