<div class="report-config container">
	<div class="row">
		<div class="header col-sm-8 col-lg-6">
			{{#if site}}
			{{site.siteNumber}} - {{site.siteName}}
			{{else}}
			<<< SELECT A SITE
			{{/if}}
		</div>
		
		<div class="primary-ts-selector col-sm-4 col-lg-6 {{#unless selectedTimeSeries}} hidden {{/unless}}"><span class="close-btn">X</span>
			<span class="selected-identifier">{{#if selectedTimeSeries}}{{selectedTimeSeries.identifier}}{{/if}}</span>
		</div>
	</div>
	

	<div class="row">
		<div class="time-series-selection-grid-container col-sm-12 col-lg-12 {{#if selectedTimeSeries}} hidden {{/if}}">
		</div>
	</div>
	
	<div class="report-views-container row {{#unless selectedTimeSeries}} hidden {{/unless}}">
		<div class="available-reports col-sm-12 col-lg-12">
		</div>
	</div>
	
</div>