<div class="saved-reports-container">
	<div class="saved-reports-button" data-toggle="modal" data-target="#savedReports-{{id}}">
		<span>Saved Reports</span>&nbsp;&nbsp;<span class="badge">{{savedReports.length}}</span>&nbsp;<span class="save-success-indicator fa fa-folder-open"></span>
	</div>
	
	<div class="saved-reports modal fade" id="savedReports-{{id}}" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Saved Reports</h4>
					{{#if savedReports.length}}<i class="delete-all-saved-reports fa fa-trash"></i>{{/if}}
				</div>
				<div class="modal-body">
					<div class="saved-reports-body container">
					{{#unless savedReports.length}}
					You currently do not have any saved reports. To save a report, use 
					the <i class="fa fa-save"></i> buttons in the report configuration menus.
					{{/unless}}
					{{#each savedReports}}
						{{#SavedReportCardStartFirstRow @index}}{{/SavedReportCardStartFirstRow}}
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="saved-report-card"
								data-toggle="tooltip" 
								data-placement="bottom" 
								title="{{#SavedReportsHoverText this}}{{/SavedReportsHoverText}}">
								<div class="saved-report-desc" index="{{@index}}">{{#SavedReportsDisplayText this}}{{/SavedReportsDisplayText}}</div>
								<i index="{{@index}}" class="delete-saved-report fa fa-trash"></i>
							</div>
						</div>
						{{#SavedReportCardEndRow @index ../savedReports.length}}{{/SavedReportCardEndRow}}
						{{#SavedReportCardStartRow @index ../savedReports.length}}{{/SavedReportCardStartRow}}
					{{/each}}
					</div>
				</div>
				<div class="modal-footer">
					{{#if savedReports.length}}<button type="button" class="btn btn-primary export-saved-reports">Export</button>{{/if}}
					<button type="button" class="btn btn-primary import-saved-reports">Import</button>
					{{#if savedReports.length}}<button type="button" class="btn btn-primary download-all-saved-reports">Download All (.zip)</button>{{/if}}
					
				</div>
			</div>
		</div>
	</div>
</div>