<div class="saved-reports-container">
	<div class="saved-reports-button" data-toggle="modal" data-target="#savedReports-{{id}}">
		<span>My Reports</span>&nbsp;&nbsp;<span class="badge">{{savedReports.length}}</span>&nbsp;<span class="save-success-indicator fa fa-folder-open"></span>
	</div>
	
	<div class="saved-reports modal fade" id="savedReports-{{id}}" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">My Reports</h4>
				</div>
				<div class="modal-body">
					<div class="saved-reports-body container">
					{{#unless savedReports.length}}
					You currently do not have any saved reports. To save a report, use 
					the <i class="fa fa-save"></i> buttons in the report configuration menus.
					{{/unless}}
					{{#each savedReports}}
						{{#SavedReportCardStartFirstRow @index}}{{/SavedReportCardStartFirstRow}}
						<div class="col-sm-3 col-md-3 col-lg-3">
							<div class="saved-report-card"
								data-toggle="tooltip" 
								data-placement="bottom" 
								title="{{#SavedReportsHoverText this}}{{/SavedReportsHoverText}}">
								<div class="saved-report-desc" index="{{@index}}">{{#SavedReportsDisplayText this}}{{/SavedReportsDisplayText}}</div>
								<i index="{{@index}}" class="delete-saved-report fa fa-trash"></i>
								<i index="{{@index}}" class="export-saved-report fa fa-share-square-o"></i>
							</div>
						</div>
						{{#SavedReportCardEndRow @index ../savedReports.length}}{{/SavedReportCardEndRow}}
						{{#SavedReportCardStartRow @index ../savedReports.length}}{{/SavedReportCardStartRow}}
					{{/each}}
					</div>
				</div>
				<div class="modal-footer">
					{{#if savedReports.length}}<button type="button" class="btn btn-primary export-saved-reports">Export All <i class="fa fa-share-square-o"></i></button>{{/if}}
					<span class="btn btn-primary fileinput-button"><span>Import <i class="fa fa-folder-open "></i></span>
						<!-- The file input field used as target for the file upload widget -->
						<input class="fileupload" type="file" name="file">
					</span> 
					{{#if savedReports.length}}
					<button type="button" class="btn btn-primary open-all-saved-reports">Open All <i class="fa fa-copy"></i></button>
					<button type="button" class="btn btn-primary download-all-saved-reports" disabled title="This feature has been temporarily disabled.">Download All (.zip) <i class="fa fa-cloud-download"></i></button>
					{{/if}}
					
					{{#if savedReports.length}}<i class="delete-all-saved-reports fa fa-trash"></i>{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>