<div class='col-sm-12 col-md-12 col-lg-12 time-series-selection-filter {{#unless site}} hidden {{/unless}}'>
	<div class='time-series-selection-filter-container-top row'>
		<div class='header-container col-sm-12 col-md-12 col-lg-12'>
			<h5><label>Filter Time Series</label>
		</div>
		</div>
	<div class='time-series-selection-filter-container-bottom row'>
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="publishFilter"/>
			<div class="primaryFilter"/>
			<div class="computationFilter"/>
			<div class="periodFilter"/>
			<div class="unitFilter"/>
			<div class="parameterFilter"/>
			<div class="identifierFilter"/>
		</div>
	</div>
</div>