<div class="container time-series-selection-grid col-sm-12 col-md-12 col-lg-12">
	<form>
		<div class="checkbox">
			<label><input id="filterPublish" type="checkbox" value="check">Publish Only</label>
			<label><input id="filterPrimary" type="checkbox" value="check">Primary Only</label>
		</div>
		</form>
	<div class="row time-series-selection-grid-header">
		<div class="col-sm-2 col-md-2 col-lg-2">Parameter</div>
		<div class="time-series-vertical-line col-sm-4 col-md-4 col-lg-4">Identifier</div>
		<div class="time-series-vertical-line col-sm-1 col-md-1 col-lg-1">Publish</div>
		<div class="time-series-vertical-line col-sm-1 col-md-1 col-lg-1">Primary</div>
		<div class="time-series-vertical-line col-sm-2 col-md-2 col-lg-2">Computation</div>
		<div class="time-series-vertical-line col-sm-1 col-md-1 col-lg-1">Period</div>
<!--		<div class="time-series-vertical-line col-sm-1 col-md-1 col-lg-1">UID</div> -->
		<div class="time-series-vertical-line col-sm-1 col-md-1 col-lg-1">Units</div>
	</div>
	{{#each timeSeriesList}}
	<div class="row time-series-selection-grid-row">
		<div class="col-sm-12 col-md-12 col-lg-12 time-series-selection-grid-row-top">
			<div class="row time-series-selection-grid-row-top-content">
				<div class="col-sm-2 col-md-2 col-lg-2">{{parameter}}</div>
				<div class="time-series-identifier col-sm-4 col-md-4 col-lg-4">{{identifier}}</div>
				<div class="col-sm-1 col-md-1 col-lg-1"><i></i>{{#if publish}}yes{{else}}no{{/if}}</div>
				<div class="col-sm-1 col-md-1 col-lg-1"><i></i>{{#if primary}}yes{{else}}no{{/if}}</div>
				<div class="col-sm-2 col-md-2 col-lg-2">{{computation}}</div>
				<div class="col-sm-1 col-md-1 col-lg-1">{{period}}</div>
		<!--		<div class="time-series-uid col-sm-1 col-md-1 col-lg-1">{{uid}}</div> -->
				<div class="col-sm-1 col-md-1 col-lg-1">{{units}}</div>
			</div>
		</div>
		
		<div class="col-sm-12 col-md-12 col-lg-12 time-series-selection-grid-row-btm">
			<div class="row time-series-selection-grid-row-btm-content">
				<div class="col-sm-2 col-md-2 col-lg-2 time-series-selection-grid-row-btm-desc"><b>Description and reports:</b><br/>{{description}}</div>
				<div class="col-sm-1 col-md-1 col-lg-1 report-expander-container">
					<i class="fa fa-folder-o see-reports-btn" id="timeseries-{{@index}}"></i>
					<i class="fa fa-folder-open-o remove-reports-btn hidden" id="remtimeseries-{{@index}}"></i>
				</div>
				<div class="col-sm-9 col-md-9 col-lg-9 time-series-selection-grid-row-btm-reports">
					<div class="reports-container-{{@index}}"></div>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>