<ol class="breadcrumb">
	<li><b>Time Series Reports (<a id="time-series-back">New UI</a>)</b></b></li>
</ol>
<ul class="pager adjust-pager">
	<b class="pager-title">Create Timeseries Report</b>
</ul>
<div class="vision-gui nwis-select-sites">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-sm-1 col-lg-2"></div>
				<div class="col-sm-10 col-lg-8" title="Set report criteria">
					<div class="search-form-container" title="Set report criteria fields">
						<div class="nwis-container">
							<div class="search-form-fields-container site-search container">
							</div>
							<div class="search-form-fields-container site-select container">
							</div>
						</div>
						<div class="report-download-container"><p>&nbsp;<p></div>
						<div class="nwis-container ">
							<div class="search-form-fields-container range container">
							</div>
							<div class="report-download-container">
							<p>Or<p>
							</div>
							<div class="search-form-fields-container year container">
							</div>
						</div>
						<div class="report-download-container"><p>&nbsp;<p></div>
						<div class="nwis-container ">
							<div class="search-form-fields-container primary-identifier container">
							</div>
							<div class="search-form-fields-container secondary-identifier container">
							</div>
							<div class="search-form-fields-container upchain-identifier container">
							</div>
							<div class="search-form-fields-container derived-mean-identifier container">
							</div>
							<div class="search-form-fields-container derived-max-identifier container">
							</div>
							<div class="search-form-fields-container derived-min-identifier container">
							</div>
							<div class="search-form-fields-container rating-model-identifier container">
							</div>
						</div>
						<div class="nwis-container">
							<div class="search-form-fields-container comp-site-search container">
							</div>
							<div class="search-form-fields-container comp-site-select container">
							</div>
							<div class="search-form-fields-container comparison-identifier container">
							</div>
						</div>
						<div class="report-download-container"><p>&nbsp;<p></div>
						<div class="nwis-container ">
							<div class="search-form-fields-container report-select container">
							</div>
							<div class="report-download-container">
								<button class="time-series-report-preview-button" type="button">Download HTML</button>
								<button class="time-series-report-download-button" type="button">Download PDF</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="dialog-criteria-problem-report-type" title="Report Criteria Problem" class="nwis-hidden">
				<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
				You must choose a report type.
				</p>
			</div>
				<div id="dialog-criteria-problem-timeseries-info" title="Report Criteria Problem" class="nwis-hidden">
				<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
				Timeseries information is incomplete.
				</p>
			</div>
			<div id="dialog-criteria-problem-site-number" title="Report Criteria Problem" class="nwis-hidden">
	  			<p>
	    		<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
	    		You must specify at least 5 digits of the desired site.
	  			</p>
			</div>
			<div id="dialog-criteria-problem-site-missing" title="Report Criteria Problem" class="nwis-hidden">
				<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
				You must enter a site number.
				</p>
			</div>
			<div id="dialog-criteria-problem-date" title="Report Criteria Problem" class="nwis-hidden">
				<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
				You must enter a date range or water year.
				</p>
			</div>
			<div id="dialog-criteria-problem-date-range" title="Report Criteria Problem" class="nwis-hidden">
				<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
				You must enter an end date range.
				</p>
			</div>
		</div>
	</div>
</div>
