#aqcu-ui-content {
	padding-top: 40px;
	min-height: 600px;
}

#aqcu-ui-content a {
	cursor: pointer;
}

/** HOME: START **/
.time-series-home {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.time-series-main-view {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

/** HOME: END **/


/** SITE SELECTOR: START **/
.site-selector-search-list-width {
	width:350px !important;
	border-top: 1px solid #aaa !important;
}

.site-selector-search {
	padding: 1em;	
	border-top: 1px solid #a0a0a0;
}

.left-container {
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: solid 1px #a0a0a0;
	border-right: solid 1px #a0a0a0;
	border-bottom: solid 1px #a0a0a0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #E6E6E6;
	padding: 0px;
	min-height: 600px;
}


.left-container hr {
	margin-top: 0px;	
	margin-bottom: 0px;	
}

.site-selection-panel-container {
	padding-left: 0px;	
}

.site-selection-panel {
}

.site-selector-site-list {
	list-style-type: none;
	padding: 0px;
}

.site-selection-panel li {
	padding: 1em;
	width: 100%;
}

.site-selection-panel span {
	cursor: pointer;
}

.site-selector-remove-site {
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	right: 1.5em;
}

.site-selector-selected-site {
	background-color: white;
	border-top: solid 1px #a0a0a0;
	border-bottom: solid 1px #a0a0a0;
	border-left: solid 1px #a0a0a0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*a bit hackey, doing this to hide parent's border*/
	border-right: solid 1px white;
	position: relative;
	right: -2px; /* some zoom levels reveal border at -1px*/
}

.site-selector-selected-site .site-selector-remove-site {
	right: .5em;
}
/** SITE SELECTOR: END **/

/** TIME SERIES SELECTION: START **/

.time-series-selection-grid-container{
	min-height: 200px;
}

.time-series-selection-grid{
	width:140%;
}

.time-series-selection-grid-header{
	border: solid #A0A0A0 1px;
	border-radius: 2px;
	font-weight: bold;
	font-size: small;
	background-color: #E6E6E6;
}

.time-series-selection-grid-header > .time-series-vertical-line{
	border-left: thin solid #A0A0A0;
}

.time-series-selection-grid-header > div{
	padding-top: .5em;
	padding-bottom: .5em;
	vertical-align: middle;
}

.time-series-selection-grid-row{
	cursor: pointer;
	padding: 6px 1px;
	border-bottom: 1px solid #A0A0A0;
}

.time-series-selection-grid-row:hover{
	background-color: #E4E4E4;
}

.time-series-identifier{
	text-overflow: ellipsis;
	overflow: hidden;
}

.time-series-identifier:hover{
	width: auto;
	min-width: 25%;
}

.time-series-description{
	text-overflow: ellipsis;
	overflow: hidden;
}

.time-series-description:hover{
	width: auto;
	min-width: 25%;
}

/** uid no longer displayed. 
.time-series-uid{
	text-overflow: ellipsis;
	width: 6.5em; 
	overflow: hidden;
}

.time-series-uid:hover{
	width: auto;
	
}
**/

/** TIME SERIES SELECTION: END **/

/** DATE RANGE SELECTOR: START **/

.date-range-container-top{
	min-height: 3em;
	border: solid #a0a0a0 1px;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #E4E4E4;
}

.date-range-container-bottom{
	min-height: 4em;
	border: solid #a0a0a0 1px;
	border-radius: 5px;
	position: relative;
	padding: 0.75em 0em;
	border-top-width: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.input-daterange {
	width: 10em;
}

/** REPORT CONFIG: START **/
.report-config-panel {
	padding: 1em;
}

.report-config .header {
	font-weight: bold;
	padding: .5em;
}

.report-config .primary-ts-selector {
	background-color: #327CC3;
	color: white;
	padding: .5em;
	border-radius: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	cursor: pointer;
}

.report-config .primary-ts-selector .close-btn {
	font-weight: bold;
	padding-left: 1em;
}
/** REPORT CONFIG: END **/

/** REPORT CARDS: START **/
.report-card {
	margin-top: 1em;
	min-height: 4em;
	width: 12%;
	border: solid black 1px;
	border-radius: 5px;
	/** position: relative; **/
        float: left; 
}

.report-card-header {
	margin-top: .75em;
        float:left;
	font-weight: bold;
	cursor: pointer;
}

.add-to-saved-reports {
	position: relative;
	right: 0.1em;
	top: 0.4em;
	cursor: pointer;
        float:right;
}

.config-btn {
	position: relative;
	right: 0.1em;
	top: 0.2em;
	cursor: pointer;
        float:right;
}

.warning-indicator {
	color: red;
	position: inherit;
	right: 4em;
	top: 1em;
}

.report-card-loader-base {
	background-color:rgba(255,255,255,0.8);
	position: relative;
	top: 0px;
	left: 0px;
	height: 99%;
	width: 99%;
	border-radius: 5px;
}

.aqcu-lg-loader-spinner {
	background: url('../images/loading.gif') 
            no-repeat center center
}

/** REPORT CARDS: END **/


#ccsa-area {
	top: -10px;
}

.container {
	padding-top: 3px;
        margin-right: 2px;
}

h2 {
	color: #23648B;
	font-size: 1.5em;
	font-family: 'Ubuntu', sans-serif;
}

.site-title {
	text-align:center;
	padding-bottom: 30px;
}

.aqcu-loading-indicator {
	background: url('../images/ajax-loader-small.gif')
		no-repeat center center
}

.aqcu-authenticate-body {
	padding-top:100px;
	min-height: 600px;
	text-align: center;
	font-weight: bold;
}

#aqcu_version_tag {
	font-weight: bold;
	font-size: small;
	position: relative;
	text-align: left;
}

#footer {
	margin-top: 0px;
}

.sub-banner {
	width: 100%;
	height: 40px;
	background-color: #3E7698;
	position:absolute;
	top: 74px;
}

.sub-banner-title {
	font-family: 'Ubuntu',sans-serif;
	padding-left: 10px;
	padding-top:3px;
	font-weight:bold;
	font-size: 1.6em;
	color: #fff;
	float:left;
}

.upper-right-corner {
	font-weight: bold;
	font-size: x-small;
	width: 100%;
	text-align: right;
	padding-right: 6px;
	position: relative;
	top: 5px;
	right: 10px;
}

.lower-right-corner a,
.upper-right-corner a {
	font-weight: bold;
	font-size: small;
	color: #428BCA;	
	border: 1px solid #D3D3D3;
	border-radius: 15px 15px 15px 15px;
	display: inline-block;
	padding: 5px 14px;
	cursor: pointer;
}

.upper-right-corner a,
field-container input {
	border: 1px solid #A0A0A0;
}

.upper-right-corner a {
	background-color: white;
}

.aqcu_field {
	width: 100%;
}

.aqcu_date_field,
.aqcu_range_field,
.aqcu_box_field {
	width: 40%;
}

field-container {
	font-size: small;
}

field-container input {
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 1px;
}

category-tip-target {
	margin-left: 5px;
	font-size: 90%;
}

/* Saved reports start*/
.saved-reports-button {
	background-color: #327CC3;
	font-weight: bold;
	color: white;
	padding: .5em;
	border-radius: 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
}

.saved-reports-container {
	padding: 10px;
	text-align: center;
}

.saved-reports-button .badge {
	background-color: white;
	color: #327CC3;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	min-width: 10px;
	padding: 3px 7px;
}

.save-success-indicator {
	color: white;
}

.saved-reports-body {
	width: 100%;
}

.saved-report-card {
	padding: 5px;
	font-size: small;
	text-align: left;
	border: solid 1px #a0a0a0;
	border-radius: 10px;
	height: 75px;
	overflow: hidden;
}

.saved-report-desc {
	width: 90%;
	cursor: pointer;
}

.saved-reports .row {
	margin-bottom: 5px;
}

.saved-reports .modal-footer {
	text-align: center;
}

.delete-saved-report {
	font-size: large;
	position: absolute;
	right: 1.25em;
	top: 25px;
	cursor: pointer;
	color: #808080;
}

.delete-all-saved-reports {
	font-size: xx-large;
	position: absolute;
	cursor: pointer;
	right: 1em;
	color: #808080;
}

.saved-report-card-description {
	font-size: x-small;
}

.fileinput-button {
	height: 3em;
	width: 7em;
}

.fileinput-button span {
	top: 5px;
	position: relative;
}
@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.fileinput-button {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity = 0);
		font-size: 100%;
		height: 100%;
	}
}